div.social {
    padding-right: 25px;
    text-align: right;
    position:relative
}

hr{
    height:1px;
    color: #dbc2d2;
    border-color: #d1bcca;
    width:95%;
    z-index: -1;
    position:relative
}

body{ 
  background-image: url("snowcapped-mountain-peak_4460x4460.jpg") ;
  height: auto; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}




<img src="snowcapped-mountain-peak_4460x4460.jpg" alt="Montanha coberta de neve" Photo by <a href="https://burst.shopify.com/@scott_5x5?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Snowcapped+Mountain+Peak&amp;utm_medium=referral&amp;utm_source=credit">Scott Murdoch</a> from <a href="https://burst.shopify.com/nature?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Snowcapped+Mountain+Peak&amp;utm_medium=referral&amp;utm_source=credit">Burst</a>
