body {
  background-color: white;
  color: #B12826;
  font-family: arial;
  margin: 0;
 }

h1 {
  color: #B12826;
  margin: 25px 0;
}

h2 {
  margin: 15px 0;
}

a {
  color: #6d1513;
  text-decoration: none;
}

p {
  margin: 5px 0;
}

header {
  background-color: #B12826;
  padding: 25px;
}

main {
  padding: 25px;
}

section {
  margin-bottom: 25px;
}

form {
  padding: 15px 0;
}

label {
  font-size: 14px;
}

input, textarea {
  background-color: white;
  border: 2px solid #B12826;
  border-radius: 10px;
  font-family: arial;
  font-size: 14px;
  margin: 0 5px;
  padding: 5px;
}

input[type='submit'] {
  background-color: #B12826;
  border: 0;
  color: white;
  padding: 10px;
}